<div style="margin-top: 10px; " class="ui grid container">

  <div class="sixteen wide column no-bottom">
  <!-- My Big Fat name -->
    <h2 class="ui center aligned header no-bottom">{{ site.data.bio.basics.name }}</h2>
  </div>

  <div class="six wide left aligned column">
    <!-- This includes the blue network links in the top left corner -->
    {% include bio-network-links.html %}
    <br>
    <!-- This includes the personal address and phone number -->
    {% include bio-address.html %}
    <br>
    {% include bio-education-1.html %}
    <br>
    {% include bio-skills-1.html %}
  </div>
  
  <div class="eight wide aligned column">
    {% include bio-interests-1.html %}
    {% include bio-work-1.html %}
    {% include bio-volunteer-1.html %}
    {% include bio-awards-1.html %}
    {% include bio-publications-1.html %}
    {% include bio-references-1.html %}
  </div>

<!--   <div class="eight wide right aligned column">
    {% include bio-address.html %}
  </div> -->
  
</div>

<div style="margin-bottom: 20px" class="ui stackable grid container">
  <!-- a -->
  {% include bio-interests-1.html %}
  {% include bio-skills-1.html %}
  {% include bio-education-1.html %}
  {% include bio-work-1.html %}
  {% include bio-volunteer-1.html %}
  {% include bio-awards-1.html %}
  {% include bio-publications-1.html %}
  {% include bio-references-1.html %}
</div>
